h1 {
 	border-bottom: 3px solid currentColor;
	padding-bottom: 0.5rem;
	text-align: center;
}



.img-row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
 			
.img-row img {
	width: 30%;
	height: auto;
}


.button-row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.button-row button {
	width: 30%;
	height: auto;
}



h2 {
	text-align: center;
	margin-bottom: 0;
}

h4 {
	text-align: center;
	margin-top: 0.1rem;
}
